{% extends 'base.html' %}
{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
<div class="jumbotron">
<div class="offset-6">

    <h2>Star Rating</h2>
    <span style="color: orange" class="fa fa-star checked"></span>
    <span style="color: orange" class="fa fa-star checked"></span>
    <span style="color: orange" class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</div>
</div>
</div>
{% endblock %}